<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Redit Clone | Example</title>
    <link rel="stylesheet" href="style/bootstrap.css">
    <link rel="stylesheet" href="style/lightbox.css">
    <link rel="stylesheet" href="style/angular-bootstrap-lightbox.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
</head>
<body ng-controller="MyController">
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Redit Clone</a>
    <ul class="nav navbar-nav">
        <li data-toggle="modal" data-target="#addModal" class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-plus"></i>Add Post </a>
        </li>

        <select ng-model="filters" name="categories" class="form-control-2 col-md-2">
            <option value="">-- Sort By --</option>
            <option value="up">Highest Vote</option>
            <option value="comments.length">Comments</option>
        </select>
    </ul>
    <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Filter" ng-model="query">
        <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
</nav><!-- end of navbar -->
<div class="row" id="main">
    <div class="container-fluid">
        <div  ng-repeat="place in places |filter: query | orderBy: '-' + filters "
              class="enter col-md-offset-2 col-md-8 col-sm-8 col-md-offset-2 indPlaces">
            <!--<a ng-click="openLightboxModal($index)">-->
            <a href="{{place.image}}"  data-lightbox="image-1" data-title="{{place.name}}">
                <img class="col-md-4" ng-src="{{place.image}}" alt="{{place.name}}">
                </a>
                <div class="col-md-8">
                <h3>{{place.name}} |
                    <i class="fa fa-thumbs-down" ng-click="place.up = place.up - 1"></i>&nbsp;
                    <i ng-click="place.up = place.up + 1" class="fa fa-thumbs-up"></i>
                    <span ng-style="place.up >= 0 && {'color':'#8470FF'}
                    || place.up < 0 && {'color': '#e12a2a'}">{{place.up}}</span>
                </h3>
                <p>{{place.description}}</p>
                <p class="text-md-center text-sm-center">
                    <i class="fa fa-2x fa-book"></i><strong>Author: </strong>{{place.author}} |
                    <i class="fa fa-2x fa-comments-o"></i><strong>{{place.comments.length >= 2 ? "Comments: ": "Comment: "}}</strong> {{place.comments.length}} |
                   <a href="#" data-toggle="collapse" data-target="#demo">  <i class="fa fa-2x fa-pencil" data-toggle="collapse" data-target="#demo"></i></a><strong>Add Comment</strong> </p>
                    <!--<div class="row">-->
                        <div id="demo"  class="collapse">
                            <div ng-repeat="comment in places.comments">
                                <h4>{{comment}}</h4>
                                <p>some text</p>
                            </div>
                        </div>
                    <!--</div>-->
            </div>
        </div>

    </div>

</div><!-- begin of modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Post </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container">
                        <form name="myForm" novalidate>
                            <div class="form-group row" ng-class="{ 'has-error' : myForm.name.$invalid && !myForm.name.$pristine , 'text-success': myForm.name.$valid}">
                                <div class="form-control-label col-md-2 col-md-offset-1">Place: </div>
                                <div class="col-md-6">
                                    <input name="name" ng-minlength="6" ng-maxlength="40" type="text" required class="form-control" ng-model="newPlace.name" placeholder="Place Name">
                                    <p ng-show="myForm.name.$error.minlength" class="help-block">Username is too short.</p>
                                    <p ng-show="myForm.name.$error.maxlength" class="help-block">Username is too long.</p>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{ 'has-error' : myForm.description.$invalid && !myForm.description.$pristine, 'text-success': myForm.description.$valid }">
                                <label class="form-control-label col-md-2 col-md-offset-1">Description: </label>
                                <div class="col-md-6">
                                    <textarea ng-minlength="4" placeholder="Describe the experience" name="description" ng-model="newPlace.description" ng-maxlength="250" rows="4" class="form-control"></textarea>
                                    <p ng-show="myForm.description.$error.minlength" class="help-block">Description is too short.</p>
                                    <p ng-show="myForm.description.$error.maxlength" class="help-block">Description is too long.</p>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{ 'has-error' : myForm.author.$invalid && !myForm.author.$pristine , 'text-success': myForm.author.$valid}">
                                <label class="form-control-label col-md-2 col-md-offset-1">Author: </label>
                                <div class="col-md-4">
                                    <input required ng-minlength="3" ng-maxlength="40" ng-model="newPlace.author" name="author" class="form-control" placeholder="author's name" >
                                    <p ng-show="myForm.author.$error.minlength" class="help-block">Author is too short.</p>
                                    <p ng-show="myForm.author.$error.maxlength" class="help-block">Author is too long.</p>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{ 'has-error' : myForm.image.$invalid && !myForm.image.$pristine, 'text-success': myForm.image.$valid }">
                                <label class="form-control-label col-md-2 col-md-offset-1">Image: </label>
                                <div class="col-md-4">
                                    <input ng-minlength="8" ng-maxlength="600" class="form-control" required name="image" ng-model="newPlace.image" placeholder="image url">
                                    <p ng-show="myForm.image.$error.minlength" class="help-block">Image is too short.</p>
                                    <p ng-show="myForm.image.$error.maxlength" class="help-block">Image is too long.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-outline" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary-outline" ng-click='addPost(newPlace)' ng-disabled="myForm.$invalid" >Add Post</button>
            </div>
        </div>
    </div>
</div>
<script src="js/libs/angular.js"></script>
<script src="js/libs/lightbox-plus-jquery.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="js/libs/angular-animate.js"></script>
<script src="js/libs/angular-bootstrap-lightbox.min.js"></script>
<script src="js/libs/ui-bootstrap-1.2.5.js"></script>
<script src="js/app.js" type="text/javascript"></script>
</body>
</html>