@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* roboto slab */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

html, body {
  //font-family: 'Lora', serif;
  font-family: 'Roboto Slab', serif;
}
h1, h2 , h3{
  font-family: 'Montserrat', sans-serif;
}
strong {
  font-weight: 700;
}
$orchid: #CD69C9;
$blue: #8470FF;
$green: #7FFFD4;
$red: #8B1A1A;

.btn-primary {
  background: $blue;
  border: $blue;
  &:hover {
    background: $blue;
    border: $blue;
  }
}

.form-control-2 {
  display: inline;
  width: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-left: 10px;
  vertical-align: middle;
  padding: auto 0;
  margin-top: 10px;
}
.form-control-2 option:hover
{
  background: $orchid;
  cursor: pointer;
}
/*******
  end of navbar and basic styling
*******/

#main {
  margin-top: 20px;
}

.indPlaces {
  margin-bottom: 10px;
}

.fa-thumbs-down:hover {
  color: $red;
  cursor: pointer;
}
.fa-thumbs-up:hover {
  color: $blue;
  cursor: pointer;
}

.btn-success {
  color: $green;
  border: $green;
  &:hover {
    color: $green;
    border: $green;
  }
}
