@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* roboto slab */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
html, body {
  font-family: 'Roboto Slab', serif; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

strong {
  font-weight: 700; }

.btn-primary {
  background: #8470FF;
  border: #8470FF; }
  .btn-primary:hover {
    background: #8470FF;
    border: #8470FF; }

.form-control-2 {
  display: inline;
  width: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-left: 10px;
  vertical-align: middle;
  padding: auto 0;
  margin-top: 5px; }

.form-control-2 option:hover {
  background: #CD69C9;
  cursor: pointer; }

::selection {
  background: #e7b6e5; }

/*******
  end of navbar and basic styling
*******/
#main {
  margin-top: 20px; }

.indPlaces {
  margin-bottom: 10px; }

.fa-thumbs-down {
  -webkit-transition: width 2s, height 2s;
  -moz-transition: width 2s, height 2s;
  -ms-transition: width 2s, height 2s;
  -o-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
  -webkit-transition-timing-function: ease-in; }

.fa-thumbs-down:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: #e12a2a;
  cursor: pointer; }

.fa-thumbs-up {
  -webkit-transition: width 2s, height 2s;
  -moz-transition: width 2s, height 2s;
  -ms-transition: width 2s, height 2s;
  -o-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
  -webkit-transition-timing-function: ease-in; }

.fa-thumbs-up:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: #8470FF;
  cursor: pointer; }

.btn-success {
  color: #7FFFD4;
  border: #7FFFD4; }
  .btn-success:hover {
    color: #7FFFD4;
    border: #7FFFD4; }

/*****
  image manipulation
  **********/
/*********
Animating
************/
.enter.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

.enter.ng-enter.ng-enter-active {
  transition: 0.5s linear all;
  opacity: 1; }

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px; }
  75% {
    left: 15px; }
  to {
    opacity: 1;
    height: 30px;
    left: 0px; } }

@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px; }
  75% {
    left: 15px; }
  to {
    opacity: 1;
    height: 30px;
    left: 0px; } }

.animate-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  position: relative; }

@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px; }
  25% {
    left: 15px; }
  from {
    opacity: 1;
    height: 30px;
    left: 0px; } }

@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px; }
  25% {
    left: 15px; }
  from {
    opacity: 1;
    height: 30px;
    left: 0px; } }

/*********
  form validation colors
  *************/
.has-error {
  color: #e12a2a; }
