@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* roboto slab */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

html, body {
  //font-family: 'Lora', serif;
  font-family: 'Roboto Slab', serif;
}
h1, h2 , h3{
  font-family: 'Montserrat', sans-serif;
}
strong {
  font-weight: 700;
}
$orchid: #CD69C9;
$blue: #8470FF;
$green: #7FFFD4;
$red: #e12a2a;

.btn-primary {
  background: $blue;
  border: $blue;
  &:hover {
    background: $blue;
    border: $blue;
  }
}

.form-control-2 {
  display: inline;
  width: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-left: 10px;
  vertical-align: middle;
  padding: auto 0;
  margin-top: 5px;
}
.form-control-2 option:hover
{
  background: $orchid;
  cursor: pointer;
}

::selection {
  background: lighten($orchid, 20%);
}
/*******
  end of navbar and basic styling
*******/

#main {
  margin-top: 20px;
}

.indPlaces {
  margin-bottom: 10px;
}
.fa-thumbs-down {
  -webkit-transition: width 2s, height 2s;
  -moz-transition: width 2s, height 2s;
  -ms-transition: width 2s, height 2s;
  -o-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
  -webkit-transition-timing-function: ease-in;
}
.fa-thumbs-down:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: $red;
  cursor: pointer;
}

.fa-thumbs-up {
  -webkit-transition: width 2s, height 2s;
  -moz-transition: width 2s, height 2s;
  -ms-transition: width 2s, height 2s;
  -o-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
  -webkit-transition-timing-function: ease-in;
}
.fa-thumbs-up:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  color: $blue;
  cursor: pointer;
}

.btn-success {
  color: $green;
  border: $green;
  &:hover {
    color: $green;
    border: $green;
  }
}

/*****
  image manipulation
  **********/

//.img {
//  -webkit-transition-duration: 0.5s;
//}
//
//.img img {
//  padding:10px;
//  border:1px solid #fff;
//}
//
//.img:hover{
//  -webkit-transform:scale(0.8);
//  -webkit-box-shadow:0px 0px 30px #ccc;
//}
//
//.img .mask{
//  width: 100%;
//  background-color: rgb(0, 0, 0);
//  position: absolute;
//  height: 100%;
//  opacity:0.6;
//  cursor:pointer;
//  -webkit-transition-duration: 0.5s;
//}
//#img-1:hover .mask{
//  height:0%;
//}

/*********
Animating
************/
.enter.ng-enter {
  transition:0.5s linear all;
  opacity:0;
  //-webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  //animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  //display: block;
  //position: relative;
}

.enter.ng-enter.ng-enter-active {
  transition:0.5s linear all;
  opacity:1;
  //-webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  //animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  //display: block;
  //position: relative;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  75% {
    left: 15px;
  }
  to {
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}

.animate-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  display: block;
  position: relative;
}
@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  25% {
    left: 15px;
  }
  from {
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}
@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px;
  }
  25% {
    left: 15px;
  }
  from {
    opacity: 1;
    height: 30px;
    left: 0px;
  }
}

/*********
  form validation colors
  *************/
//form .ng-invalid.ng-dirty { background-color: lightpink; }
//form .ng-valid.ng-dirty { background-color: lightgreen; }
//span.summary.ng-invalid { color: $red; font-weight: bold; }
//span.summary.ng-valid { color: $green; }

.has-error {
  color: $red;
}